#NavBarAdapter
{
    display: flex;
    padding: 10px;
    background-color: aqua;
  
}
.NavBar
{
    display: flex;
}
.userData
{
    display: flex;
    align-items: center;
}
#navUserImage 
{
    border: 5px solid #ddd;
  border-radius: 4px;
  padding: 2px;
  width: 90px;

  margin: 5px;
 
}

.NavBar .bikeIcon
{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 70px;
    
}
.NavBar .navigates
{
    display: flex;
    align-items: center;
    
}
.NavBar .navigates div
{
    margin-left: 20px;
    
}
.NavBar> .navigates div:hover
{
    background-color: lightgreen;
    
}

#NavBarAdapter
{
    display:flex;
    justify-content: space-between;
}
