/* *{
    border: 2px red solid;
} */

.gradingLabelDiv h3
{
    display:flex; 
    align-items: center;
    justify-content: center;
    height: 2px;
    
}


.vote
{
    padding: 10px;
    margin: 10px;
    margin-top: 10px;
    background-color: #E6E6FA;
    width:90%; 

    border-radius:10px;
    border: solid black 1px;

}
.gradeButton ,.commentInput
{
    text-align: left;
    display: flex;
    padding-right:5px;
    padding-top: 10px;
    padding-bottom:10px;
}

.commentInput input
{
    width: 75%;
    height: 20px;
}

.commentInput label
{
    width: 20%;
   
}

.vote button
{
    width:50%;
    border: 2px rgb(141, 82, 137) solid;
}

.gradingText:hover 
{
    text-decoration: underline;
}