.gradingLabelDiv
{
   
    display: flex;
    justify-content: center;
     

}
.Card
{
    position: relative;
    margin-right: 60px;
    
}
.Card img{
    border-radius:30px;
    width:500px ;
    height: 350px;
    margin: 3px;
    
 }

.Card .ImageHeader>div
{
    position:relative;
    border-radius: 300px;
    width: 500px;
    height: 25px;
    justify-content: center;
    display:flex;
    align-items: center;
  

}
  
.Card .ImageHeader .header
 {
    
    Top:15px;
    background-color: green;


 }


 .Card .ImageHeader .footer
 {
    background-color:  rgb(78, 85, 133);
    Top:280px;

 }
.Card .ImageHeader 
{
    
 
    margin: 3px;
    position:absolute;
    /*border: 2px red solid;*/
    width:300px;
    padding-left: 0px;
    left:auto;
    top:0px;
    text-align: center;
}
.mark
{
    display: flex;
}
.vote label,.vote select,.vote button
{
   margin-right: 10px;
   margin-left: 10px;
}
.vote
{
    padding: 5px;
    margin-bottom: 10px;
    border:black solid 1px;
    background-color: #E6E6FA;
    border-radius: 3px;
    width:100%;
    height: 100px;
    padding-bottom: 5px;
    text-align: left;
   
   
   
}
.commentInput input
{
    width:95%;
    padding-left: 2.5%;
    
}
.gradeButton
{
    display:flex;
    align-items: center;
    justify-content: space-between;
}